.profile-doctor-container {

  flex-direction: column;
  gap: 20px; /* Add some spacing between elements */

  .intro-doctor {
    display: block;
    align-items: center;
    gap: 20px;

    .content-left {
      width: 150px; /* Adjust the width of the image */
      height: 150px; /* Adjust the height of the image */
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }

    .content-right {
      flex: 1;
      display: flex;
      flex-direction: column;

      .up {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: normal;
      }

      .down {
        font-size: 16px;
        color: #666;
      }
    }
  }

  .profile-doctor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    .View-detail-doctor {
      text-align: end;
      a {
        
        text-decoration: none;
        color: #007bff;
        font-size: normal;
      }
    }

    .price {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      margin-top: 5px;
      margin-bottom: 10px;

      .currency {
        margin-left: 5px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .intro-doctor {
      .content-left {
        width: 100px; /* Adjust image size for smaller screens */
        height: 100px; /* Adjust image size for smaller screens */
      }
    }

    .profile-doctor {
      flex-direction: column;
      gap: 10px;
    }
  }

  @media screen and (max-width: 576px) {
    .intro-doctor {
      flex-direction: column;
      gap: 10px;

      .content-left {
        width: 80px; /* Adjust image size for smaller screens */
        height: 80px; /* Adjust image size for smaller screens */
      }

      .content-right {
        .up {
          font-size: 20px; /* Adjust font size for smaller screens */
        }

        .down {
          font-size: 14px; /* Adjust font size for smaller screens */
        }
      }
    }

    .profile-doctor {
      .View-detail-doctor {
        margin-top: 10px; /* Add some space between elements */
      }
    }
  }
}
