// Variables
$primaryColor: #3498db;
$secondaryColor: #fff;
$searchBoxWidth: 50%;

// Styles
.detail-specialty-container {
  display: flex;
  flex-direction: column;
  align-items: center; // Center the content horizontally
  margin-top: 104px;

  .parent-container {
    text-align: center;
    margin-top: 60px;
    width: 100%; // Use full width

    .nm2-text-component {
      margin-bottom: 20px;
    }

    .search {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid $secondaryColor;
      padding: 1vh;
      border-radius: 50px;
      background-color: $primaryColor;
      margin-top: 4vh;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 80%;
      margin: 0 auto; // Center horizontally
      cursor: pointer;

      i {
        margin-right: 8px;
        color: $secondaryColor;
        font-size: 1.5rem;
      }

      .search-doctor {
        width: $searchBoxWidth;
      }

      input {
        border: none;
        outline: none;
        background: transparent;
        color: $secondaryColor;
        font-size: 2rem;
        width: 100%;
        text-align: center;
        height: auto;
        line-height: 2.5rem;

        &::placeholder {
          color: $secondaryColor;
          opacity: 0.7;
          font-size: 1.5rem;
        }
      }

      &:hover {
        background-color: #2980b9;
      }
    }
  }

  .detail-specialty-body {
    width: 100%;
    max-width: 1200px;
    padding: 20px;

    .description-specialty {
      background-color: #e8f2f5;
      padding: 20px;
      border-radius: 8px;
      font-size: 18px;
      color: #333;
      margin-bottom: 20px;
      line-height: normal;
      text-align: center;

      .doctor-img {
        display: block;
        margin: 0 auto; // Center the image horizontally
        max-width: 100%;
        height: auto;
        border-radius: 10px; // Add border radius
      }
    }

    .clinic-name {
      font-weight: 600;
      margin-bottom: 5px;
      margin-top: 5px;
      text-align: start;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    .clinic-child:hover .clinic-name {
      color: #3498db;
    }

    .clinic-address {
      margin-bottom: 5px;
    }

    .each-doctor {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      .dt-content-left,
      .dt-content-right {
        flex: 1;
        min-width: 300px;
      }

      .dt-content-left {
        margin-right: 20px;
      }

      .doctor-schedule,
      .doctor-extra-infor {
        margin-top: 20px;
      }
    }

    .link-to-dentail-clinic {
      color: #3498db;
      text-decoration: none;
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .parent-container {
    margin-top: 60px;
  }

  .detail-specialty-body {
    padding: 10px;

    .description-specialty {
      padding: 10px;
    }
  }
}
